.contentManager{
    display: flex;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.contentList{
    width: 100%;
    transition: ease all 1s;
}
.contentDetails{
    display: flex;
    justify-content: flex-end;
    width: 0%;
    transform: translateX(600px);
    opacity: 0;
    transition: ease all 1s;
}

/*for flag === 1*/
.DetailsOn{
    width: 30%;
    transform: translateX(0px);
    opacity: 1;
    transition: ease all 1s;
}
.ListOn{
    width: 70%;
    transition: ease all 1s;
}
